/* @font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('../fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url('../fonts/Montserrat-Bold.ttf');
} */

:root {
  /* Fonts */
  --main-font: 'Montserrat', sans-serif;

  /* Colors */
  --cl-main: 17 17 17;
  --cl-accent: 253 146 44;
  --cl-light: 250 250 250;
  --cl-white: 255 255 255;

  /* Percent */
  --p-primary: 70%;
  --p-secondary: 50%;
  --p-tertiatry: 30%;
}

body {
  font-family: var(--main-font);
  color: rgb(var(--cl-main));
  background-color: rgb(var(--cl-light));

  /* Default prop */
  /* font-family: serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: black;
  background-color: white; */
}
/* Reset + common styles */
a {
  text-decoration: none;
  color: currentColor;
}
button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

/* #region Common */
.section {
}
.section-title {
}
.accent {
}
.btn {
  font-weight: 600;
  font-size: 14px;
  border: 1px solid transparent;
  background-color: transparent;
}
.btn-accent {
  color: #fff;
  background-color: rgb(var(--cl-accent));
}
.btn-accent:hover,
.btn-accent:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}

.btn-primary {
  color: #fff;
  border-color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus {
  color: #fd9222;
  border-color: #fd9222;
}

.btn-secondary {
  color: #111111;
  border-color: #fd9222;
}
.btn-secondary:hover,
.btn-secondary:focus {
  color: #fff;
  background-color: #fd9222;
}
/* #endregion */

/* #region Logo */
.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.logo-acent {
}
.logo-icon {
}
/* #endregion */

/* #region Socials */
.socials {
}
.socials-item {
}
.socials-link {
}
.socials-icon {
}
/* #endregion */

/* #region Header */
.header {
}
.header-nav {
}
.header-menu {
}
.header-menu-item {
}
.header-menu-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.header-socials {
}
/* #endregion */

/* #region Hero */
.hero {
  background: rgba(17, 17, 17, 0.4);
}
.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
}
.hero-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
}
/* #endregion */

/* #region Benefits */
.benefits {
  background-color: #1e1823;
}
.benefits-list {
}
.benefits-item {
}
.benefits-caption {
  color: rgb(var(--cl-white));
}
.benefits-desc {
  color: rgb(var(--cl-white) / var(--p-primary));
}
/* #endregion */

/* #region Made  */
.made {
}
.made-img {
}
.made-subtitle {
}
.made-list {
}
.made-item {
}
/* #endregion */
